<%= _('%{name}(%{url}) namespace has %{percent} or less Shared Runner Pipeline minutes remaining. After it runs out, no new jobs or pipelines in its projects will run.') % { name: @namespace.name, url: group_url(@namespace), percent: "#{@percentage_of_available_mins}%" } %>

<%= _('We recommend that you buy additional Pipeline minutes to avoid any interruption of service.') %>

<%= _('Buy more Pipeline minutes') %> → <%= buy_additional_minutes_url(@namespace) %>
